<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true" scan="true" scanPeriod="30 seconds"> 

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender"> 
    <encoder>
        <charset>UTF-8</charset>
        <Pattern>%d %-4relative [%thread] %-5level %logger{35} - %msg%n</Pattern>
    </encoder>
  </appender>
  
  <!-- 按日期区分的滚动日志 -->
  <appender name="FILE_LOG"
	class="ch.qos.logback.core.rolling.RollingFileAppender">
	<file>./logs/portfolioboot.log</file>
	<encoder>
        <charset>UTF-8</charset>
        <pattern>%d %-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
    </encoder>
	<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
		<fileNamePattern>portfolioboot.%d{yyyy-MM-dd}.log.zip</fileNamePattern>
		<maxHistory>30</maxHistory>
	</rollingPolicy>
  </appender>
  
  <!-- 
  <appender name="ERROR_LOG"
	class="ch.qos.logback.core.rolling.RollingFileAppender">
	<file>./logs/portfolioboot_error.log</file>
	<encoder>
        <charset>UTF-8</charset>
        <pattern>%d %-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">   
      <level>ERROR</level>
    </filter>
	<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
		<fileNamePattern>portfolioboot_error.%d{yyyy-MM-dd}.log.zip</fileNamePattern>
		<maxHistory>30</maxHistory>
	</rollingPolicy>
  </appender>
	 -->
     
  <logger name="ga.workshop.com" level="debug">
  	<appender-ref ref="STDOUT" />
    <appender-ref ref="FILE_LOG" />
  </logger>
  
  <logger name="org.apache" level="WARN" />
  <logger name="httpclient" level="WARN" /> 
  
  <root level="error">
  	<appender-ref ref="STDOUT" />
  	<appender-ref ref="FILE_LOG" />
    <!-- <appender-ref ref="ERROR_LOG" /> -->
  </root>
</configuration>